* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

div header {

    height: 300px;
    width: 500px;
    background-color: #12c09a;
    border-radius: 15px;
    box-shadow: 0px 5px 10px;

}

form input {

    display: block;
    margin: 0 auto 10px;

}

form label {

    display: block;
    text-align: center;
    color: white;

}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(100deg, #5adfb2, #db6605);

}

header h1 {

    font-family: sans-serif;
    font-size: 33px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: white;

}

header p {

    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: white;

}

button {

    display: block;
    align-items: center;
    margin: 0px auto 7px;

}

button:hover {

    color: white;
    background-color: black;
    border-radius: 5px;

}